*.o
*.list
moc_*
Makefile
*.so*
/declarative/*.moc
/lib/*.prl
/lib/transferengineinterface.*
/lib/pkgconfig/
/src/*.ts
/src/*.qm
/src/nemo-transfer-engine
/src/transferengine_adaptor.*
/tests/ut_nemo-transfer-engine
/tests/tests.xml
/RPMS/
