[D-BUS Service]
Interface=/
Name=org.nemo.transferengine.discovery
Exec=/usr/bin/invoker --type=qt5 --global-syms /usr/bin/nemo-transfer-engine
SystemdService=transferengine.service
